<div class="main-container">
  <div class="side">
    <app-ususario-datos></app-ususario-datos>
    <div class="modulos">

    </div>
  </div>
  <div class="menu">
    <div class="barra-superior">
      <img src="assets/nazcalogo.png" alt="">
    </div>
    <div class="main-menu">
      <div class="titulo">
        <i class="fas fa-newspaper"></i>
        <span> Detalles de productos</span>
      </div>
      <div class="content">
        <div class="img-item">
          <img src="{{producto.imagenUrl}}" alt="">
        </div>
        <div class="details-item">
          <h1>{{producto.nombre}}</h1>
          <h3><strong>Marca:</strong> {{producto.marca}}</h3>
          <h3><strong>Descripción: </strong>{{producto.descripcion}}</h3>
          <h3><strong>Precio: </strong>S/. {{producto.precio}}</h3>
          <h3><strong>Cantidad en Stock: </strong> {{producto.cantidadEnStock}}</h3>
          <div class="acciones">
            <button class="edit" (click)="showDialog(producto)"><i class="fas fa-edit "> </i>Editar Producto</button>
            <p-dialog header="Editar Usuario" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
              <form (ngSubmit)="actualizarProducto()">

                <div class="datos">
                  <label for="nombre">Nombre:</label>
                  <input type="text" id="nombre" name="nombre" [(ngModel)]="producto.nombre">
                </div>
                <div class="datos">
                  <label for="categoria">Categoría:</label>
                  <input type="text" id="categoria" name="categoria" [(ngModel)]="producto.categoria">
                </div>
                <div class="datos">
                  <label for="marca">Marca:</label>
                  <input type="text" id="marca" name="marca" [(ngModel)]="producto.marca">
                </div>
                <div class="datos">
                  <label for="precio">Precio:</label>
                  <input type="number" id="precio" name="precio" [(ngModel)]="producto.precio">
                </div>
                <div class="datos">
                  <label for="cantidadEnStock">Cantidad en Stock:</label>
                  <input type="number" id="cantidadEnStock" name="cantidadEnStock" [(ngModel)]="producto.cantidadEnStock">
                </div>
                <div class="datos">
                  <label for="imagenUrl">URL de la Imagen:</label>
                  <input type="text" id="imagenUrl" name="imagenUrl" [(ngModel)]="producto.imagenUrl">
                </div>
                <div class="datos">
                  <label for="descripcion">Descripción:</label>
                  <textarea id="descripcion" name="descripcion" [(ngModel)]="producto.descripcion"></textarea>
                </div>

                <button class="btn">Guardar Producto</button>
              </form>
            </p-dialog>
            <button class="trash" (click)="EliminarProducto(id)"><i class="far fa-trash-alt "></i> Eliminar Producto</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




